<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Тесты">
    <test name="Тесты" parallel="methods"  thread-count="10">
        <!--<packages>
            <package name="Box" />
        </packages>-->
        <classes>
            <class name="Box.MainTest" />
        </classes>
    </test>
</suite>